<div mat-dialog-content>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{data.name.official}}</mat-card-title>
      <mat-card-subtitle>{{data.capital}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="data.flags.png" alt="{{data.name.official}} Flag">
    <mat-card-content>
      <mat-list>
        <mat-list-item><b>Area:</b>&emsp;{{data.area | number : '1.2-2'}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><b>Population:</b>&emsp;{{data.population | number : '1.2-2'}}</mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Time Zones:</div>
        <mat-list-item *ngFor="let timezone of data.timezones">
          <div mat-line>{{timezone}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card-content>
    <mat-list-item class="text-capitalize"><b>Native Name:</b>&emsp;{{getNativeName(data.name.nativeName)}}</mat-list-item>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Close</button>
</div>
